@charset "UTF-8";

/**-- 共通部分 --**/
html{
  font-size: 100%;
}

body{
  font-family: "Yu Gothic Medium","游ゴシック Medium","游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  line-height : 1.7;
  color : #0b0b0b
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/**-- header --**/
.page-header{
  display: flex;
  justify-content:space-between;
  background-color: #f6f0cc;;
}

a.page-logo{
  color:navy;
}

.wrapper{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4%;
}

.logo{
  max-width: 100%;
  max-height: 100%;
  margin-top: 14px;
  margin-left: 14px;
}

/**-- ナビバー --**/
.main-nav{
  display:flex;
  font-size:1.25rem;
  margin-top:36px;
  list-style:none;
}
.main-nav li{
  margin-left:16px;
}

.main-nav a{
  color:#432;
}
.main-nav a:hover{
  color:#0bd;
  text-decoration: underline #0bd;
}

/**-- main-content --**/
.page-title{
  margin-top: 20%;
  text-align: center;
}
.main-content{
  margin-top:18px;
  text-align: center;
}

/*下からフェードイン*/
.fade-in-bottom1 {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}
.fade-in-bottom2{
  opacity:0;
  animation-name:fadein-bottom2;
  animation-duration:1.5s;
  animation-timing-function:ease-out;
  animation-fill-mode:forwards;
}
@keyframes fadein-bottom2{
  0%{
    opacity:0;
    transform:translateY(40px);
  }
  20%{
    opacity:0;
    transform:translateY(40px);
  }
  85%{
    opacity:0.9;
  }
  90%{
    opacity:0.95;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


/**-- bg --**/
.bg{
  background-image:url(../images/home.png);
  background-size:cover;
  background-color:#b6b198;
  background-blend-mode:soft-light;
  min-height: 100vh;
}

/**-- iframe --**/
iframe{
  width: 100%;
}

h2.media{
  text-align: center;
}


/**-- sns --**/
#sns{
  background: #3aacad;
  padding: 6% 0;
}
.media{
  margin-left: 4%;
  margin-bottom: 30px;
}
#sns .wrapper{
  display: flex;
  justify-content: space-between;
}
#sns .sub-title{
  text-align: center;
  margin-bottom: 30px;
}
.sns-box{
  width: 40%;
}
img.sns-logo{
  width:1.5em;
  height:1.5em;
}

@media (max-width:600px){
  /* ヘッダー */
  .page-header{
    flex-direction: column;
  }
  .page-header h1{
    font-size: x-large;
  }
  ul.main-nav{
    margin-top: 0;
    justify-content: space-between;
  }
  .main-nav li{
    margin-left:auto;
    margin-right:auto;
  }
  /* メイン */
  .page-title{
    margin-top: 50%;
  }

  #sns .wrapper{
    flex-direction: column;
  }
  .sns-box{
    width: 100%;
    margin-bottom: 30px;
  }
}